@import '_fonts.scss';

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.hidden-scroll {

    body {
        ::-webkit-scrollbar {
            display: none;
        }
    }
    
    .app-container {
        padding-top: 100px;
    }
}

.navbar-app {
    box-shadow: 0px 2px 4px $shadow-color;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: #fff;
}

.navbar-brand {
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    letter-spacing: 2px;
}

.mac-title-bar {
    text-align: center;
    vertical-align: middle;
    height: 24px;
    font-size: 13px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 0;
    top: 0;

    -webkit-user-select: none;
    -webkit-app-region: drag;

    p {
        margin-top: 2px;
    }
}

.mac-title-bar-login {
    text-align: center;
    vertical-align: middle;
    height: 24px;
    font-size: 13px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 0;
    color: #f4f4f4;

    -webkit-user-select: none;
    -webkit-app-region: drag;

    p {
        margin-top: 2px;
    }
}

.clickable-link:not([href]):not([tabindex]), .clickable-link:not([href]):not([tabindex]):focus, .clickable-link:not([href]):not([tabindex]):hover {
    color: $theme-accent-color;
}

.clickable-link#hover:not([href]):not([tabindex]), .clickable-link:not([href]):not([tabindex]):focus, .clickable-link:not([href]):not([tabindex]):hover {
    color: lighten($theme-accent-color, 40%)
}

.clickable-link#active:not([href]):not([tabindex]), .clickable-link:not([href]):not([tabindex]):focus, .clickable-link:not([href]):not([tabindex]):hover {
    color: lighten($theme-accent-color, 20%)
}

li.nav-item.active a.nav-link {
    color: lighten($theme-accent-color, 20%) !important;
}

li.nav-item a.nav-link i.material-icons {
    vertical-align: middle;
}

.btn i.material-icons {
    vertical-align: middle;
}

.app-container {
    padding-top: 76px;
}

div#root {
    background-color: lighten($theme-accent-color, 59%);
    min-height: 100vh;
}

div#root .dark {
    background-color: #212121;
}

.marked-area {
    background-color: white;
}

a {
    color: $theme-accent-color;
}

.btn-accent {
    background-color: $theme-accent-color;
    box-shadow: 0px 0px 4px $shadow-color;
    color: white;
}

.timeline-nav .nav-item .nav-link {
    color: $theme-accent-color;
}

.timeline-nav .nav-item .nav-link.active {
    background-color: $theme-accent-color;
    color: white;
}

.post-content a {
    color: lighten($theme-accent-color, 10%);
    font-weight: bold;
}

.post-author a {
    color: darken($theme-accent-color, 20%);
}

.post .toolbar-area .material-icons {
    vertical-align: middle;
}

.post .toolbar-area .toolbar {
    padding-left: 8px;
    padding-right: 8px;
}

.avatar {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}

.profile-container {
    height: 100%;
    width: 100%;
}

.profile-container-avatar {
    text-align: center;
    display: block;
    margin: 0;
}

.profile-container-avatar-image {
    text-align: center;
    width: 96px;
    height: 96px;
    display: block;
    margin: 0 auto;
}

.profile-container-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px -2px 4px -4px $shadow-color;
    width: 100%;
    height: 156px;
    margin: 0;
    padding: 0;
}

.profile-container-bio {
    text-align: center;
}

.invisible {
    display: none;
}

/* Custom Icon SVGs */
.toolbar-icon svg {
    fill: $theme-accent-color;
    width: 20px;
    height: 20px;
}

.toolbar-icon:hover div i {
    svg {
        fill: lighten($theme-accent-color, 30%);
        width: 20px;
        height: 20px;
    }
}

.post-toolbar-icon svg {
    fill: $theme-accent-color;
    width: 20px;
    height: 20px;
}

.post-toolbar-icon:hover div i {
    svg {
        fill: lighten($theme-accent-color, 30%);
        width: 20px;
        height: 20px;
    }
}

.media-file-icon svg {
    width: 16px;
    height: 16px;
}

.media-file-header-icon svg {
    width: 12px;
    height: 12px;
}

.ms-Dialog-title {
    font-weight: bold !important;
}

.ms-Panel-headerText {
    font-weight: bold;
}

div#profile-table *{
    overflow-x: hidden;
}

.sign-in {
    background-position: center center;
    background-repeat: initial initial;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.sign-in-container {
    position: relative;
    background-position: initial initial;
    background-repeat: initial initial;
}

.sign-in-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(10px);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: initial initial;
}

.sign-in-content {
    display: flex;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0px 0px 8px #333;
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0;

    .no-shadow {
        text-shadow: none;
    }

    a {
        color: lighten($theme-accent-color, 30%) !important;
    }

    a:hover {
        color: lighten($theme-accent-color, 70%) !important;
    }

    a:active {
        color: lighten($theme-accent-color, 50%) !important;
    }
}

.links-area {
    text-align: center;
    bottom: 0;
    left: 30px;
    right: 30px;

    @media (min-width: 576px) { 
        margin-top: 16px;
    }

    @media (min-width: 768px) {
        margin-top: 12px;
    }

    @media (min-width: 1200px) {
        position: absolute;
    }
}

.welcome-links {
    opacity: 0.75;

    a {
        color: #f4f4f4 !important;
        padding-left: 16px;
        padding-right: 16px;
        text-shadow: 0px 0px 4px #333;
        font-weight: bolder;
    }

    a:hover {
        color: lighten($theme-accent-color, 50%) !important;
    }

    a:active {
        color: $theme-accent-color;
    }
}






/* DARK MODE */

.dark {
    .clickable-link:not([href]):not([tabindex]), 
    .clickable-link:not([href]):not([tabindex]):focus, 
    .clickable-link:not([href]):not([tabindex]):hover,
    .ms-Link,
    a {
        color: lighten($theme-accent-color, 30%);
    }
    
    .clickable-link#hover:not([href]):not([tabindex]), 
    .clickable-link:not([href]):not([tabindex]):focus, 
    .clickable-link:not([href]):not([tabindex]):hover,
    .ms-Link:hover,
    a:hover {
        color: lighten($theme-accent-color, 70%)
    }
    
    .clickable-link#active:not([href]):not([tabindex]), 
    .clickable-link:not([href]):not([tabindex]):focus, 
    .clickable-link:not([href]):not([tabindex]):hover,
    .ms-Link:active,
    a:active {
        color: lighten($theme-accent-color, 50%)
    }
    .navbar-app {
        background-color: #333;
        box-shadow: 0px 2px 4px #212121;
        color: #f4f4f4;

        .navbar-brand {
            color: #f4f4f4;
        }

        i {
            svg {
                fill: white;
            }
        }

        .ms-Label {
            color: #f4f4f4;
        }
    }

    p {
        color: #f4f4f4;
    }

    .marked-area {
        background-color: #333;
        color: #f4f4f4;
    }

    .ms-Pivot-icon i {
        svg {
            fill: lighten($theme-accent-color, 30%);
        }
    }
    .ms-Pivot-text {
        color: #f4f4f4;
    }

    .ms-Button--default {
        background-color: #666666;
        color: #f4f4f4;
    }

    .ms-Button--default:active {
        background-color: #999999;
    }

    .ms-Button--default:hover {
        background-color: #444444;
    }
    

    .ms-Button--compound {
        background-color: #666666;
        color: #f4f4f4;

        .ms-Button-description {
            color: #eaeaea;
        }
    }
    
    .ms-Button--compound:active {
        background-color: #999999;
    }

    .ms-Button--compound:hover {
        background-color: #444444;
    }

    .ms-DetailsList * {
        background-color: #333;

        div[role="row"] {
            border-bottom-color: #212121;
        }

        svg {
            fill: white;
        }
    }

    .ms-Spinner-label {
        color: lighten($theme-accent-color, 30%);
    }

    div#end-of-post-roll {
        color: #d0d0d0;
    }

    div#timeline-error {
        color: #f4f4f4;
    }

    div[id^="post_"], div[id*="post_"] {
        background-color: #333;
        color: #F4F4F4;

        .ms-Persona-primaryText {
            color: #f4f4f4;
        }

        small.text-muted {
            color: #a6a6a6 !important;
        }
    }

    ul#post-toolbar * {
        color: #f4f4f4;

        .post-toolbar-icon svg {
            fill: lighten($theme-accent-color, 30%);
        }
        
        .post-toolbar-icon:hover div i {
            svg {
                fill: lighten($theme-accent-color, 50%);
            }
        }
    }

    div#boost-card {
        .ms-DocumentCardDetails {
            background-color: #212121;
            color: #f4f4f4;
        }
        div {
            border-top-color: #111;
            border-bottom-color: #111;
            border-left-color: #111;
            border-right-color: #111;

            :hover {
                border-top-color: #333;
                border-bottom-color: #333;
                border-left-color: #333;
                border-right-color: #333;
            }
        }
        
    }

    div#profile-container {
        background-color: #333;
        color: #f4f4f4;

        .ms-Label, .ms-Persona-primaryText {
            color: #f4f4f4;
        }

        .ms-DetailsList * {
            background-color: #333;

            div[role="row"] {
                border-bottom-color: #212121;
            }
        }
    }

    .profile-container-header {
        box-shadow: inset 0px -2px 4px -4px #333;
        width: 100%;
        height: 156px;
        margin: 0;
        padding: 0;
    }

    div#notification-pane {
        background-color: #333;
        color: #f4f4f4;

        .ms-ActivityItem-commentText {
            color: #f4f4f4;
        }
    }

    div#compose-window {
        background-color: #333;
        color: #f4f4f4;

        .ms-TextField-field {
            background-color: #212121;
            color: #f4f4f4;
            border-top-color: #000;
            border-left-color: #000;
            border-bottom-color: #000;
            border-right-color: #000;

            :hover {
                border-top-color: #d0d0d0;
                border-left-color: #d0d0d0;
                border-bottom-color: #d0d0d0;
                border-right-color: #d0d0d0;
            }
        }

        .ms-CommandBar, .ms-CommandBar * {
            background-color: #666;
            color: #f4f4f4;

            .toolbar-icon svg {
                fill: lighten($theme-accent-color, 30%);
                width: 20px;
                height: 20px;
            }
            
            .toolbar-icon:hover div i {
                svg {
                    fill: lighten($theme-accent-color, 50%);
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .ms-DetailsList * {
            background-color: #333;

            div[role="row"] {
                border-bottom-color: #212121;
            }

            svg {
                fill: white;
            }
        }
    }

    .ms-Panel-main {
        background-color: #212121;
        color: #f4f4f4;
        border-left-color: #111;
        border-right-color: #111;

        .ms-Panel-headerText {
            color: #f4f4f4;
        }
    }

    .ms-Overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .ms-Dialog-main {
        background-color: #212121;

        .ms-Dialog-title {
            color: lighten($theme-accent-color, 20%);
        }

        .ms-Dialog-inner {
            background-color: #212121;

            .ms-Dialog-subText, .ms-ChoiceField, .ms-Label {
                color: #f4f4f4;
            }
        }
    }

    .ms-dialogMainOverride .ms-Modal-scrollableContent .ms-Dialog-lgHeader {

        background-color: #212121;

        .ms-Dialog-header {
            background-color: darken($theme-accent-color, 15%);

            .ms-Dialog-title {
                color: #f4f4f4;
            }
        }

        .ms-Dialog-inner {
            background-color: #212121;

            .ms-Dialog-subText, .ms-ChoiceField, .ms-Label {
                color: #f4f4f4;
            }
        }
        
    }
}