@charset "UTF-8";

@font-face {
  font-family: "Manrope";
  src: url("../fonts/brand/manrope-semibold.woff2") format("woff2"),
  url("../fonts/brand/manrope-semibold.woff") format("woff"),
  url("../fonts/brand/manrope-semibold.otf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('../fonts/icons/MaterialIcons-Regular.woff2') format('woff2'),
         url("../fonts/icons/MaterialIcons-Regular.woff") format('woff'),
         url("../fonts/icons/MaterialIcons-Regular.ttf") format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }