/**
    Login/Register window Styles
*/

// This version of the mac-title-bar is important to the login page 
// and has been place here instead of in _navbar.scss.
.mac-title-bar-login {
    text-align: center;
    vertical-align: middle;
    height: 24px;
    font-size: 13px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 0;
    color: #f4f4f4;

    -webkit-user-select: none;
    -webkit-app-region: drag;

    p {
        margin-top: 2px;
    }
}

.sign-in {
    background-position: center center;
    background-repeat: initial initial;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.sign-in-container {
    position: relative;
    background-position: initial initial;
    background-repeat: initial initial;
}

.sign-in-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(10px);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: initial initial;
}

.sign-in-content {
    display: flex;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0px 0px 8px #333;
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0;

    .no-shadow {
        text-shadow: none;
    }

    .button-only * {
        color: rgb(51, 51, 51);
    }

    a {
        color: lighten($theme-accent-color, 30%) !important;
    }

    a:hover {
        color: lighten($theme-accent-color, 70%) !important;
    }

    a:active {
        color: lighten($theme-accent-color, 50%) !important;
    }
}

.links-area {
    text-align: center;
    bottom: 0;
    left: 30px;
    right: 30px;

    @media (min-width: 576px) { 
        margin-top: 16px;
    }

    @media (min-width: 768px) {
        margin-top: 12px;
    }

    @media (min-width: 1200px) {
        position: absolute;
    }
}

.welcome-links {
    opacity: 0.50;

    a {
        color: #f4f4f4 !important;
        padding-left: 16px;
        padding-right: 16px;
        text-shadow: 0px 0px 4px #333;
        font-weight: bolder;
    }

    a:hover {
        color: lighten($theme-accent-color, 50%) !important;
    }

    a:active {
        color: $theme-accent-color;
    }
}