/**
    Post Card Styles
*/

.post-content {
    a {
        color: lighten($theme-accent-color, 10%);
        font-weight: bold;
    }

    .emoji {
        width: 1rem;
        height: 1rem;
        margin-left: 2px;
        margin-right: 2px;
        vertical-align: text-top;
    }
}

.post-author a {
    color: darken($theme-accent-color, 20%);
}

.post .toolbar-area .material-icons {
    vertical-align: middle;
}

.post .toolbar-area .toolbar {
    padding-left: 8px;
    padding-right: 8px;
}

.post-toolbar-icon svg {
    fill: $theme-accent-color;
    width: 20px;
    height: 20px;
}

.post-toolbar-icon:hover div i {
    svg {
        fill: lighten($theme-accent-color, 30%);
        width: 20px;
        height: 20px;
    }
}


.dark {
    div[id^="post_"], div[id*="post_"] {
        background-color: #333;
        color: #F4F4F4;

        .ms-Persona-primaryText {
            color: #f4f4f4;
        }

        small.text-muted {
            color: #a6a6a6 !important;
        }
    }

    ul#post-toolbar * {
        color: #f4f4f4;

        .post-toolbar-icon svg {
            fill: lighten($theme-accent-color, 30%);
        }
        
        .post-toolbar-icon:hover div i {
            svg {
                fill: lighten($theme-accent-color, 50%);
            }
        }
    }

    div#boost-card {
        .ms-DocumentCardDetails {
            background-color: #212121;
            color: #f4f4f4;
        }
        div {
            border-top-color: #111;
            border-bottom-color: #111;
            border-left-color: #111;
            border-right-color: #111;

            :hover {
                border-top-color: #333;
                border-bottom-color: #333;
                border-left-color: #333;
                border-right-color: #333;
            }
        }
        
    }
}