@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/icons/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/icons/MaterialIcons-Regular.woff) format("woff"), url(../fonts/icons/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; }

.navbar-app {
  box-shadow: 0px 2px 4px #a2a2a2;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #fff; }

.clickable-link:not([href]):not([tabindex]), .clickable-link:not([href]):not([tabindex]):focus, .clickable-link:not([href]):not([tabindex]):hover {
  color: #5c2d91; }

.clickable-link#hover:not([href]):not([tabindex]), .clickable-link:not([href]):not([tabindex]):focus, .clickable-link:not([href]):not([tabindex]):hover {
  color: #c3a6e4; }

.clickable-link#active:not([href]):not([tabindex]), .clickable-link:not([href]):not([tabindex]):focus, .clickable-link:not([href]):not([tabindex]):hover {
  color: #8f59cb; }

li.nav-item.active a.nav-link {
  color: #8f59cb !important; }

li.nav-item a.nav-link i.material-icons {
  vertical-align: middle; }

.btn i.material-icons {
  vertical-align: middle; }

.app-container {
  padding-top: 76px; }

div#root {
  background-color: #f5f0fa; }

div#root .dark {
  background-color: #212121; }

.marked-area {
  background-color: white; }

a {
  color: #5c2d91; }

.btn-accent {
  background-color: #5c2d91;
  box-shadow: 0px 0px 4px #a2a2a2;
  color: white; }

.timeline-nav .nav-item .nav-link {
  color: #5c2d91; }

.timeline-nav .nav-item .nav-link.active {
  background-color: #5c2d91;
  color: white; }

.post-content a {
  color: #7539b8;
  font-weight: bold; }

.post-author a {
  color: #2b1543; }

.post .toolbar-area .material-icons {
  vertical-align: middle; }

.post .toolbar-area .toolbar {
  padding-left: 8px;
  padding-right: 8px; }

.avatar {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px; }

.profile-container {
  height: 100%;
  width: 100%; }

.profile-container-avatar {
  text-align: center;
  display: block;
  margin: 0; }

.profile-container-avatar-image {
  text-align: center;
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto; }

.profile-container-header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px -2px 4px -4px #a2a2a2;
  width: 100%;
  height: 156px;
  margin: 0;
  padding: 0; }

.profile-container-bio {
  text-align: center; }

.invisible {
  display: none; }

/* Custom Icon SVGs */
.toolbar-icon svg {
  fill: #5c2d91;
  width: 20px;
  height: 20px; }

.toolbar-icon:hover div i svg {
  fill: #a980d7;
  width: 20px;
  height: 20px; }

.post-toolbar-icon svg {
  fill: #5c2d91;
  width: 20px;
  height: 20px; }

.post-toolbar-icon:hover div i svg {
  fill: #a980d7;
  width: 20px;
  height: 20px; }

.media-file-icon svg {
  width: 16px;
  height: 16px; }

.media-file-header-icon svg {
  width: 12px;
  height: 12px; }

.ms-Dialog-title {
  font-weight: bold !important; }

.ms-Panel-headerText {
  font-weight: bold; }

/* DARK MODE */
.dark .clickable-link:not([href]):not([tabindex]),
.dark .clickable-link:not([href]):not([tabindex]):focus,
.dark .clickable-link:not([href]):not([tabindex]):hover,
.dark .ms-Link,
.dark a {
  color: #a980d7; }

.dark .clickable-link#hover:not([href]):not([tabindex]),
.dark .clickable-link:not([href]):not([tabindex]):focus,
.dark .clickable-link:not([href]):not([tabindex]):hover,
.dark .ms-Link:hover,
.dark a:hover {
  color: white; }

.dark .clickable-link#active:not([href]):not([tabindex]),
.dark .clickable-link:not([href]):not([tabindex]):focus,
.dark .clickable-link:not([href]):not([tabindex]):hover,
.dark .ms-Link:active,
.dark a:active {
  color: #ddcdf0; }

.dark .navbar-app {
  background-color: #333;
  box-shadow: 0px 2px 4px #212121;
  color: #f4f4f4; }
  .dark .navbar-app .navbar-brand {
    color: #f4f4f4; }

.dark .ms-Pivot-icon i svg {
  fill: #a980d7; }

.dark .ms-Pivot-text {
  color: #f4f4f4; }

.dark .ms-Button--default {
  background-color: #666666;
  color: #f4f4f4; }

.dark .ms-Button--compound {
  background-color: #666666;
  color: #f4f4f4; }
  .dark .ms-Button--compound .ms-Button-description {
    color: #eaeaea; }

.dark div[name="timeline-error"] {
  color: #f4f4f4; }

.dark div[name="post"] {
  background-color: #333;
  color: #F4F4F4; }
  .dark div[name="post"] .ms-Persona-primaryText {
    color: #f4f4f4; }
  .dark div[name="post"] small.text-muted {
    color: #a6a6a6 !important; }

.dark ul[name="post-toolbar"] * {
  color: #f4f4f4; }
  .dark ul[name="post-toolbar"] * .post-toolbar-icon svg {
    fill: #a980d7; }
  .dark ul[name="post-toolbar"] * .post-toolbar-icon:hover div i svg {
    fill: #ddcdf0; }

.dark div[name="boost-card"] .ms-DocumentCardDetails {
  background-color: #212121;
  color: #f4f4f4; }

.dark div[name="boost-card"] div {
  border-top-color: #111;
  border-bottom-color: #111;
  border-left-color: #111;
  border-right-color: #111; }
  .dark div[name="boost-card"] div :hover {
    border-top-color: #333;
    border-bottom-color: #333;
    border-left-color: #333;
    border-right-color: #333; }

.dark div[name="profile-container"] {
  background-color: #333;
  color: #f4f4f4; }
  .dark div[name="profile-container"] .ms-Label, .dark div[name="profile-container"] .ms-Persona-primaryText {
    color: #f4f4f4; }
  .dark div[name="profile-container"] .ms-DetailsList * {
    background-color: #333; }
    .dark div[name="profile-container"] .ms-DetailsList * div[role="row"] {
      border-bottom-color: #212121; }

.dark div[name="notification-pane"] {
  background-color: #333;
  color: #f4f4f4; }
  .dark div[name="notification-pane"] .ms-ActivityItem-commentText {
    color: #f4f4f4; }

.dark div[name="compose-window"] {
  background-color: #333;
  color: #f4f4f4; }
  .dark div[name="compose-window"] .ms-CommandBar, .dark div[name="compose-window"] .ms-CommandBar * {
    background-color: #666;
    color: #f4f4f4; }
    .dark div[name="compose-window"] .ms-CommandBar .toolbar-icon svg, .dark div[name="compose-window"] .ms-CommandBar * .toolbar-icon svg {
      fill: #a980d7;
      width: 20px;
      height: 20px; }
    .dark div[name="compose-window"] .ms-CommandBar .toolbar-icon:hover div i svg, .dark div[name="compose-window"] .ms-CommandBar * .toolbar-icon:hover div i svg {
      fill: #ddcdf0;
      width: 20px;
      height: 20px; }
  .dark div[name="compose-window"] .ms-DetailsList * {
    background-color: #333; }
    .dark div[name="compose-window"] .ms-DetailsList * div[role="row"] {
      border-bottom-color: #212121; }
    .dark div[name="compose-window"] .ms-DetailsList * svg {
      fill: white; }

.dark .ms-Panel-main {
  background-color: #212121;
  color: #f4f4f4;
  border-left-color: #111; }
  .dark .ms-Panel-main .ms-Panel-headerText {
    color: #f4f4f4; }

.ms-Dialog .dark, .ms-Dialog * .dark {
  background-color: #333;
  color: #f4f4f4; }
